.idea
/.htaccess
/upload/
logs/
/*.html
/sitemap*.xml
~*
*.log
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
/robots.txt
 
/bitrix/.settings.php
/bitrix/activities/
/bitrix/admin/
/bitrix/backup/
/bitrix/click.php
/bitrix/components/
/bitrix/coupon_activation.php
/bitrix/footer.php
/bitrix/gadgets/
/bitrix/header.php
/bitrix/image_uploader/
/bitrix/images/
/bitrix/index.php
/bitrix/js/
/bitrix/css/
/bitrix/license_key.php
/bitrix/modules/
/bitrix/otp/
/bitrix/p3p.xml
/bitrix/redirect.php
/bitrix/rk.php
/bitrix/rss.php
/bitrix/sounds/
/bitrix/spread.php
/bitrix/stop_redirect.php
/bitrix/template/
/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/urlrewrite.php
/bitrix/virtual_file_system.php
/bitrix/web.config
/bitrix/wizards/
/bitrix/catalog_export/
/bitrix/updates/
/bitrix/panel/
/bitrix/services/
/bitrix/php_interface/include/sale_payment/
/bitrix/php_interface/include/sale_delivery/
 
/bitrix/php_interface/dbconn.php
 
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/
/bitrix/blocks/
/bitrix/resize_cache/